body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	color: #212529;
	text-align: left;
	background-color: #fff;
	width: 462px;
	padding: 2px 2px;
	border: none;
}
ul {
	margin-top: 0;
	margin-bottom: 10px;
}
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.nav-tabs {
	border-bottom: 1px solid #ddd;
}
.nav:before {
	display: table;
    content: " ";
}
.nav:after {
	clear: both;
	display: table;
    content: " ";
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
	margin-left: 3px;
	margin-right: 3px;
	user-select: none;
	word-break: break-all;
	white-space: normal;
	margin-top: 1px;
    margin-bottom: 1px;
}
.badge-url {
	text-align: left;
}
.badge-name {
	text-align: left;
}
.badge-b {
	border-radius: 0;
	background-color: #5cb85c;
	cursor: pointer;
}
.badge-c {
	border-radius: 0;
	background-color: #98c1e4;
	cursor: pointer;
}
.badge-c.active {
	background-color: #316da0;
}
hr {
    border-top-color: #a6e1ec;
    height: 0;
    border-bottom-width: 0;
	margin-top: 1px;
    margin-bottom: 1px;
}
.favIcon {
	max-width: 18px;
    max-height: 18px;
}
input[type="text"] , input[type="number"] {
    padding: 0;
    margin: 1px 0px 1px 0px;
	display: inline-block;
    height: 1.3em;
    font-size: 13px;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type="text"] {
    width: calc(100% - 2px);
}
input[type="number"] {
	width: 75px;
}
input[type="checkbox"] {
    margin: 0px 3px 3px 0px;
    vertical-align: middle;
}
.not-select {
	user-select: none;
}
#page-wrapper {
	max-height: 435px;
	overflow-y: auto;
	overflow-x: hidden;
    padding-top: 1px;
}
textarea {
	margin: 2px 0px 0px 0px;
	line-height: 1.5;
	resize: none;
    width: calc(100% - 2px);
	padding: 0;
	border-style: solid;
    border-width: 1px;
	border-radius: 4px;
}
.textarea-url {
    height: 90px;
}
.textarea-headers {
    height: 90px;
}
.textarea-mr {
    height: 3em;
}
.textarea-mr-max {
    height: 300px;
}
select {
    margin: 0;
    line-height: 1;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}
.empty-select {
    border: 0px;
    outline: none;
    cursor: pointer;
}
.copyholder {
	height: 4px !important;
	width: 4px !important;
	opacity: 0 !important;
	display: inline-block !important;
	cursor: default !important;
}
.download-progress-outer  {
    background-color: #8080803d; 
    width: 100%; 
    height: 15px;
}
.download-progress-inner  {
    background-color: blue;
    height: 100%;
}
span {
    display: inline-block;
}
label {
    display: inline-block;
}
.line-wrapping {
    word-break: break-all;
    white-space: normal;
}